<main>
  <h2 class = "font-black text-lg">All Blog Posts:</h2>
  <br />
  <div class="grid justify-center grow">
    {{#each Posts as |Post|}}
    <a href = "/onePost/{{id}}">
      <div
        id={{id}}
        class="mx-20 w-4/5 border-4 border-black-400 hover:shadow-lg grow post"
      >
        <h3 class = "font-black">{{title}}</h3>
        <p>{{content}}</p>
      </div>
      </a>
      <br />
    {{/each}}
  </div>
</main>

