<main>
    <h2>Create New Post:</h2>
    <div class ="">
        <textarea id="title" class = "w-4/5 border border-4 border-black-100">Enter Post Title Here </textarea>
        <br>
        <textarea id="content" class = "w-4/5 border border-4 border-black-100">Enter Post Content Here </textarea>
        <br>
        <button class="ml-5 px-3 py-1 rounded font-semibold bg-gray-400 hover:bg-gray-300 text-gray-800" id = "createPost" href = "/dashboard">Create Post</button>
    </div>
</main>

<script src ="/js/newPost.js"></script>