    <main class="flex grid grid-cols-1 p-8 justify-items-center">
        <div class="flex-row">
            <div>
                <div class="w-fit mt-64 mb-80 justify-center border-double border-4 border-yellow-400 p-4 bg-gray-800 bg-opacity-90">
                    <h2 class="flex justify-center card-header text-white">Create Account</h2>
                    <form class="flex-wrap justify-center card-body login-form" id="createAccountForm">
                        <input type="text" name="loginUser" id="newUsername" placeholder="username">
                        <input type="password" name="loginPassword" id="newPassword" placeholder="password">
                        <button class="ml-5 px-3 py-1 rounded font-semibold bg-gray-100 text-gray-800">Create Account</button>
                    </form>
                    <br>
                    <div class="flex space-x-2 justify-center">
                        <a class=" text-white inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-5 px-3 py-1 rounded font-semibold bg-gray-100 text-gray-800"
                            href="/login">Login Instead</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/signup.js"></script>